{% extends 'wybory/base.html' %}

{% block title %}kandydat - edit{% endblock %}
{% block formularz %}
    <li><form action="/wybory/obwod/{{ obwod_id }}/edit/kandydat/{{ wynik.kandydat.id }}" method="post">
    {% csrf_token %}
    {{ form }}
        <input type="submit" value="Save">&nbsp&nbsp{{ wynik.kandydat.nazwa }}</form></li>
{% endblock %}
{{ kandydat }}
