{% extends 'wybory/base.html' %}

{% block list_elements_name %}
    <h3>Lista gmin:</h3>
{% endblock %}
    {{ error_message }}
{% block list_elements %}
    {% for obiekt in lista_obiektow %}
        <a href="/wybory/gmina/{{ obiekt.id}}"><li class="item">({{ obiekt.id}}) {{ obiekt.nazwa_gminy }}</li></a>
    {% endfor %}
{% endblock %}

