{% extends 'wybory/wybory_base.html' %}
{% block title %}Wybory - obwod{% endblock %}
{% block wykres_naglowek %}'Obwod {{ opis }} - wyniki wyborów' {% endblock %}
        {% block wyniki_table %}
            <table>
                <th>Kandydaci</th>
                <th>Zdobyte głosy</th>
                <th></th>
                {% for x in wyniki_kandydatow %}
                     <tr>
                        <td>{{ x.kandydat__nazwa }}</td>
                        <td>{{ x.glosy }}</td>
                        <td>
                            {% if user.is_authenticated %}
                            <input type="button" onclick="location.href='/wybory/obwod/{{ id }}/edit/kandydat/{{ x.kandydat__id }}'" value="Edit" />
                            {% endif %}
                        </td>
                     </tr>
                {% endfor %}
            </table>

        {% endblock %}













