{% extends "wybory/wybory_base.html" %}
{% block title %}Wybory - okreg{% endblock %}

{% block wykres_naglowek %}'Okreg {{ opis }} - wyniki wyborów' {% endblock %}
{% block list_elements_name %}
    <hr>
    <h3>Lista gmin:</h3>
{% endblock %}

{% block list_elements %}

        {% for obiekt in lista_obiektow %}
          <a href="/wybory/gmina/{{ obiekt.obwod__gmina__id}}"> <li class="item">({{ obiekt.obwod__gmina__id}}) {{ obiekt.obwod__gmina__nazwa_gminy }}</li></a>
        {% endfor %}
{% endblock %}