<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'wybory/main.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %}Wybory{% endblock %}</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['geochart']});
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {

        var data = google.visualization.arrayToDataTable([
            ['Województwo'],
            {% for x in wojewodztwa %}
            ['{{x}}'],
            {% endfor %}
        ]);

        var links = {
                {% for x in wojewodztwa %}
                '{{x}}': '/wybory/wojewodztwo/{{x}}',
                {% endfor %}
        };

        var options = {region: "PL", resolution: "provinces", legend: 'none',
          defaultColor: '#006699'
        };

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        google.visualization.events.addListener(chart, 'select', function() {
            var sel = chart.getSelection();
            if (sel.length > 0) {
                var country = data.getValue(sel[0].row, 0);
                var link = links[country];
                if (link) {
                    window.location.href = link;
                }
            }
        });

        chart.draw(data, options);
      }
    </script>
    <script language="JavaScript">
    $(document).ready(function() {
       var chart = {
          type: 'bar'
       };
       var title = {
          text: {% block wykres_naglowek %} {% endblock %}
       };
       var subtitle = {
          text: ''
       };
       var xAxis = {
          categories: [
              {% for x in wyniki_kandydatow %}
                  ['{{x.kandydat__nazwa}}'],
              {% endfor %}
          ],
          title: {
             text: null
          }
       };
       var yAxis = {
          min: 0,
          title: {
             text: 'Procent oddanych glosow (%)',
             align: 'high'
          },
          labels: {
             overflow: 'justify'
          }
       };
       var tooltip = {
          valueSuffix: ' %'
       };
       var plotOptions = {
          bar: {
             dataLabels: {
                enabled: true
             }
          }
       };
       var legend = {
          layout: 'vertical',
          align: 'right',
          verticalAlign: 'top',
          x: -40,
          y: 100,
          floating: true,
          borderWidth: 1,
          backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
          shadow: true
       };
       var credits = {
          enabled: false
       };

       var series= [{
                name: ' ',
                data: [ {% for x in wyniki_kandydatow %}
                            {{x.procent}},
                        {% endfor %}
                ]
            }
       ];

       var json = {};
       json.chart = chart;
       json.title = title;
       json.subtitle = subtitle;
       json.tooltip = tooltip;
       json.xAxis = xAxis;
       json.yAxis = yAxis;
       json.series = series;
       json.plotOptions = plotOptions;
      // json.legend = legend;
       json.credits = credits;
       $('#container').highcharts(json);

    });
    </script>






<style>

</style>

</head>
<body>
    <a href="/wybory/">
	<header>
	    <h1>Wybory Prezydenta Rzeczypospolitej Polskiej 2000</h1>
	</header>
    </a>


    <ul class="main-nav">
          <li><form action="/wybory/search/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Szukaj" /></form></li>
        {% if not user.is_authenticated %}
            <li style="float:right"><a href="/login">Login</a></li>
        {% else %}
            <li style="float:right"><a href="/logout">Logout</a></li>
        {% endif %}
    </ul>

    <div class="flex-container">
        <div id="container" style="width: 550px; height: 400px"></div>
        <div id="regions_div"></div>
    </div>


    <div class="flex-container">
    {% block wyniki_table %}
        <table>
            <th>Kandydaci</th>
            <th>Zdobyte głosy</th>
            {% for x in wyniki_kandydatow %}
                 <tr>
                    <td>{{ x.kandydat__nazwa }}</td>
                    <td>{{ x.glosy }}</td>
                 </tr>
            {% endfor %}
        </table>
    {% endblock %}
        <table>
            <tr>
                <th>Statystyki</th>
                <th>Ilość</th>
            </tr>
            <tr>
                <td>Karty wydane</td>
                <td>{{ wyniki_obwodow.karty_wydane}}</td>
            </tr>
            <tr>
                <td>Uprawnieni</td>
                <td>{{ wyniki_obwodow.uprawnieni}}</td>
            </tr>
            <tr>
                <td>Głosy oddane</td>
                <td>{{ wyniki_obwodow.glosy_oddane }}</td>
            </tr>
            <tr>
                <td>Głosy ważne</td>
                <td>{{ wyniki_obwodow.glosy_wazne }}</td>
            </tr>
            <tr>
                <td>Głosy nieważne</td>
                <td>{{ wyniki_obwodow.glosy_niewazne }}</td>
            </tr>

            <tr>
                <td>Obwodów</td>
                <td>{{ wyniki_obwodow.obwodow }}</td>
            </tr>
        </table>
    </div>

        {% block list_elements_name %} {% endblock %}
    <div class="flex-container">
        <ul class="items">
            {% block list_elements %}{% endblock %}
        </ul>
    </div>

    <footer> Autor: Piotr Bąk (pb370714) </footer>
</body>
</html>
