{% extends 'wybory/base.html' %}

{% block title %}Login{% endblock %}
{% block formularz %}
    <li><form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button></li>
{% endblock %}
